<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!-- <ion-header>
  <ion-navbar>
    <ion-title text-center>Login</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-content class="background-oficial">
  <div text-center class="margem">
    <img src="assets/img/12.jpg" alt="your image">
  </div>

  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>Usuario</ion-label>
          <ion-input type="text" [(ngModel)]="UserData.username" class="input"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="UserData.password" class="input"></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>




  <button block ion-button icon-start (click)="LogIn()">
    <ion-icon name="log-in"></ion-icon>
    Entrar
  </button>
</ion-content>