page-login {
    ion-list {
        background-color: transparent;
    }
    ion-item {
        color: white;
        background-color: transparent !important;
    }
    .input {
        color: #fff !important;
    }
    .margem {
        margin-top: 20x;
        margin-bottom: 10px;
    }
}

//background-color: #0f0fb0;