<!--
  Generated template for the ListaProjetosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Lista Projetos</ion-title>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of ListaProjetos" color="royal" (click)="itemSelected(item)">
      <h2>Projeto: {{ item.projeto }}</h2>
      <h3>Descrição: {{ item.descricao }}</h3>
      <p>Conta Principal: {{item.conta_principal}}</p>
    </ion-item>
  </ion-list>
</ion-content>