<!--
  Generated template for the ExtratoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>extrato</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  <ion-card>
  <ion-card-header>
   <h1> Saldo: {{Saldo}}</h1>
  </ion-card-header>

  <ion-card-content>
    <!-- Add card content here! -->
  </ion-card-content>

</ion-card>
<ion-list>
    <ion-item *ngFor="let item of ListaExtrato" color="royal" (click)="itemSelected(item)">
      <h2>Projeto: {{ item.texto }}</h2>
      <h3>Data: {{ item.data | date:'dd/MM/yyyy'}}</h3>
      <span item-end>
        {{item.valor}}
      </span>
    </ion-item>
  </ion-list>


</ion-content>
