<ion-header>
  <ion-navbar>
    <ion-title text-center>
      Fundação Padre Leonel Franca
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="background">
  <ion-toolbar full text-center color="energized">
    <ion-title>Controle de Projetos</ion-title>
  </ion-toolbar>
  <div *ngFor="let item of buttons">
    <button ion-button block (click)="Listar()" color="{{item.cor}}">
      <ion-icon name={{item.icon}}></ion-icon>
      {{item.nome}}
    </button>
  </div>
  <div class="center">
    <img src="assets/img/12.jpg" alt="your image">
  </div>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item color="royal" class="redondo">
          <ion-label color="light">Inicio</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Date.inicial" (ngModelChange)="change($event, 1)"></ion-datetime>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item color="light" class="redondo">
          <ion-label color="dark">Fim</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="Date.final" (ngModelChange)="change($event, 0)" style="color: black" >
          </ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      Header
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <h3>{{Conta.conta}}</h3>
          </ion-col>
          <ion-col col-4>
            <h3>{{Conta.descricao}}</h3>
          </ion-col>
          <ion-col col-4>
            <h3>{{Conta.saldo}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-footer>
    <button ion-button block color="dark">Sair</button>
  </ion-footer>
</ion-content>