page-home {
    color: black;
    .background {
        background-color: #000033;
        background-size: 100%;
        width: 100%;
        height: 100%;
        margin: auto;
        z-index: 2;
    }
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    .item-inner {
        border-bottom: 0 !important;
        color: white !important;
    }
    .redondo {
        border-radius: 8px !important;
    }
}